.tableContainer {
  width: 100%;
  margin: 30px;

}

.toolbarBox {
  display: flex;
  margin-bottom: 10px;
}

.toolbarBoxLeft {
  flex: 2;
}

.toolbarBoxLeft>button {
  margin-right: 10px;
}

.toolbarBoxRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.toolbarBoxRight>input {
  padding-left: 5px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}