.todolistContainer {
  background-color: rgba(237, 241, 242, 1);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.inputContent {
  width: 500px;
  margin: 50px 0px 10px 0px;
}

.inputContent>input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 300px;
}

.listContent {
  width: 500px;
}

.itemContent {
  display: flex;
  margin-bottom: 10px;
}

.itemContent>span {
  width: 300px;
  padding: 10px;
  list-style: none;
  border-bottom: 1.5px solid rgba(17, 141, 240, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.itemContent>input {
  width: 300px;
  height: 20px;
  padding: 10px;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ddd;
}

.errorMessage {
  width: 300px;
  background-color: rgba(255, 75, 104, 1);
  color: #fff;
  text-align: center;
  margin: 20px 200px 0px 0px;
  padding: 10px 15px;
  border-radius: 50px;
}