.inputContent {
  margin: 50px 0px 10px 0px;
}

.inputContent>input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 300px;
}

.inputContent>button {
  border: none;
  background-color: rgba(44, 54, 63, 1);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 25px;
  cursor: pointer;
}

.inputContent>button:hover {
  background-color: rgba(17, 141, 240, 1);
  color: #fff;
}

.listContent {
  display: flex;
  margin-bottom: 10px;
}

.listContent>span {
  width: 300px;
  padding: 10px;
  list-style: none;
  border-bottom: 1.5px solid rgba(17, 141, 240, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.listContent>input {
  width: 300px;
  height: 20px;
  padding: 10px;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ddd;
}

.listContent>button {
  border: none;
  background-color: rgba(44, 54, 63, 1);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 28px;
  cursor: pointer;
}

.listContent>button:hover {
  background-color: rgba(255, 75, 104, 1);
  color: #fff;
}

.errorMessage {
  width: 300px;
  background-color: rgba(255, 75, 104, 1);
  color: #fff;
  text-align: center;
  margin: 20px 60px 0px 0px;
  padding: 10px 15px;
  border-radius: 50px;
}