:root {
  /* --light-mode-background-color: rgba(43, 144, 217, 1);
  --dark-mode-background-color: rgba(44, 54, 63, 1); */
  --light-mode-background-color: rgba(17, 141, 240, 1);
  --dark-mode-background-color: rgba(44, 54, 63, 1);
}

* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(17, 141, 240, 1);
  color: #fff;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  margin: 10px;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(44, 54, 63, 1);
}

.light-background {
  background-color: var(--light-mode-background-color);
}

.dark-background {
  background-color: var(--dark-mode-background-color);
}

.dark-background a:hover {
  color: rgba(17, 141, 240, 1);
}

.main {
  background-color: rgba(237, 241, 242, 1);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.footer {
  background-color: rgba(44, 54, 63, 1);
  color: #fff;
  flex-basis: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}